#projects-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #C4C4C4;
}

#outer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#projects {
  height: 90%;
  width: 60%;
  max-height: 650px;
  max-width: 1040px; 
  display: flex;
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-column-gap: 100px;
  grid-row-gap: 50px;
  margin-bottom: 0;
}

#github-link img {
  height: 80px;
}

@media only screen and (max-width: 600px) {
  #outer  {
    height: 350px;
    border: 1px solid red;
    display: flex;
    overflow: hidden;    
    position: absolute;
  }

  #projects {
    border: 1px solid red;
    width: fit-content;
    display: grid;
    left: 0;
    grid-template-columns: repeat(6, 1fr);
    max-width: none;
    position: absolute;
    grid-column-gap: 0;
    align-items: center;
    /* justify-content: space-evenly; */
  }

  /* #projects { */
    /* border: 1px solid red; */
    /* width: 100vw; */
    /* width: 60%; */
    /* width: auto; */
    /* Having max width set to none lets us scroll more to through the projects */
    /* max-width: none; */
    /* height: 100%; */
    /* display: grid; */
    /* position: absolute; */
    /* left: 0; */
    /* grid-template-columns: repeat(6,1fr); */
    /* gap: 5%; */

    /* padding: 50px 50px; */
    /* padding: 0 15% 0 15%; */
    /* margin: 0 90px 0 90px; */
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
    /* flex-wrap: nowrap; */
  /* } */
}