.project {
  border: 1px solid black;
  width: 280px;
  height: 300px;
  display: flex;
  flex-direction: column;
}

.project img {
  height: 40%;
  background-color: aqua;
}

.project-desc {
  padding: 10px;
}