.project {
  display: flex;
  flex-direction: column;
  perspective: 1000px;
}

.project-inner {
  border: 1px solid black;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.project:focus {
  outline: none;
}

.project:focus .project-inner{    
  transform: rotateY(180deg);
}

.project:hover .project-inner{
  transform: rotateY(180deg)
}



.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.back {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.back img {
  height: 50px;
}

.front {
  background-color: var(--title-background-color);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.front h1 {
  width: 88%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  white-space: normal; 
}


.project-image {
  height: 100%;
  background-color: aqua;
  
}

.back {
  background-color: white;
  transform: rotateY(180deg);
}


.project-desc {
  padding: 15px;
}

@media only screen and (max-width: 600px) {
  .project {
    
    height: 300px;
    width: 280px; 
    /* margin: 0 100% 0 100%; */
  }
}