/* Remove the background color since there will be an image 
for the background */

:root {
  --title-background-color: rgb(37, 37, 37);
}

#title {
  height: 100vh;
  background-color: var(--title-background-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

#title button {
  border: 2px white solid;
  color: white;
  background-color: var(--title-background-color);
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold;
  font-size: 2em;
}