

:root {
  --title-background-color: rgb(37, 37, 37);
}

#title {
  height: 100vh;
  /* background-color: var(--title-background-color); */
  background-image: url("https://media.giphy.com/media/WaWl4kAKplVks/giphy.gif");
  /* background-image: url("https://media.giphy.com/media/xT9IgzoKnwFNmISR8I/giphy.gif"); */
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

#title button {
  border: 2px white solid;
  color: white;
  /* background-color: var(--title-background-color); */
  background-color: rgba(0, 0, 0, 0);
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold;
  font-size: 2em;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  #title button {
    width: 66%;
  }
}