
#about {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #C4C4C4;
}

#about-content {
  width: 500px;
}

#about-content p {
  font-size: 2vh;
}

#about-content h1 {
  margin-bottom: 100px;
}


/* #photo-me {
  height: 650px;
  box-shadow: 10px 10px 8px #888888;
} */

/* #about-content, #photo-me {
  margin-top: 150px;
} */

@media only screen and (max-width: 600px) {
  #about {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #about-content h1 {
    margin-bottom: 0;
  }

  /* #photo-me {
    height: 51%;
  } */

  /* #about-content, #photo-me {
    margin: 0;
  } */

  #about-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* justify-content: center; */
    /* align-items: center; */
  }

  #about-content p {
    padding: 2%;
  }
}