#contact {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #C4C4C4;
}

#contact-form{
 display: flex;
 flex-direction: column;
 width: 55%;
 height: 600px;
}

#contact-form input {
  margin-bottom: 20px;
  background-color: black;
  color: white;
  border: none;
  height: 25px;
  padding: 5px;
}

#contact-form button {
  background-color: black;
  color: white;
  border: none;
  height: 25px;
  width: 20%;
  align-self: center;
  cursor: pointer;
}

#contact-form button:active {
  border: 3px solid white;
}

#message {
  background-color: black;
  color: white;
  font-family: 'Helvetica';
  border: none;
  padding: 10px;
  margin-bottom: 20px;
}

textarea {
  resize: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
}

@media only screen and (max-width: 600px) {
  #contact-form  {
    width: 100%;
  }

  #contact-form input {
    margin-bottom: 1px;
    font-size: 2vh;
  }
  #contact-form textarea {
    font-size: 2vh;
  }

  #contact-form button {
    width: 80%;
    height: 60px;
  }
  
}